.txt{
    color: green;
    margin-left:40%;
    margin-top:30px ;
    font-size: 20px;
}
.form{
    display: grid;
    row-gap: 0.5rem;
    max-width: 65ch;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
    padding: 3px;
    
}
.form input{
    height: 45px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    outline:none;
} 
.form button{
    width:30%;
    padding:8px;
    font-size:18px;
    margin-top: 30px;
    margin-bottom: 35px;
    background-color: #6527BE;
    margin-left: 35%;
    color: #FFFEC4;
    border-radius:10px;
}
.error{
    color:red;
    background-color:#FF9EAA;
    padding:5px;
}